# ========================
# Build files
# ========================
*.exe
*.out
*.o
*.obj
*.dll

# ========================
# Debug / Release
# ========================
Debug/
Release/
x64/
x86/

# ========================
# Visual Studio
# ========================
.vs/
*.vcxproj*
*.user
*.filters

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Temp files
# ========================
*.log
*.tmp

# ========================
# OS files
# ========================
Thumbs.db
.DS_Store

# ========================
# Game assets cache 
# ========================
Temp/
Library/
Build/
Obj/
packages/